# Ignore compiled files
*.o
*.exe
*.out
a.out

# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore Visual Studio Code settings
.vscode/

# Ignore output/test files
*.log
output.txt
